<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h2 class="center-heading">Your Trips</h2>
      <% @trips.each do |trip| %>
        <div class="trip-box">
          <h3><%= link_to trip.title, trip, :class => "trip-title" %></h3>
          <p><%= trip.about %></p>
          <p class="time">From <%= trip.start_date.strftime("%B %d, %Y") %> to <%= trip.end_date.strftime("%B %d, %Y") %> </p>
          <%= link_to 'Expand', trip %>
          <%= link_to 'Edit', edit_trip_path(trip) %>
          <%= link_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      <div class="center">
        <a href=/trips/new>Make a new trip &#8594;</a>
      </div>
  </div>
</div>
