<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4">
    <h2 class="center-heading">Your Trips</h2>
    <%= form_tag(trips_path, :method => "get", id: "search-form") do %>
      <div class="form-group">
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Trips", :class=> "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class:"btn search-btn" %>
          </span>
        </div>
      </div>
    <% end %>
    <% @trips.each do |trip| %>
      <div class="trip-container">
        <h3><%= link_to trip.title, trip, :class => "trip-title" %></h3>

        <p class="time"><%= trip.start_date.strftime("%b %d, %Y") %> - <%= trip.end_date.strftime("%b %d, %Y") %> </p>
        <p class="caption"><%= trip.about %></p>

        <div class="icons">
          <%= link_to edit_trip_path(trip), class: "icon-link icon-edit" do %>
            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
          <% end %>

          <%= link_to trip, method: :delete, data: { confirm: 'Delete this trip?' }, class: "icon-link icon-edit" do %>
            <i class="icon-trash glyphicon glyphicon-trash" aria-hidden="true"></i>
          <% end %>
        </div>

        <% unless @posts[trip.id].blank? %>
          <%= link_to trip do %>
            <%= image_tag @posts[trip.id].image_url(:trip) if @posts[trip.id].image? and @posts[trip.id].image.trip.file.exists? %>
          <% end %>
        <% end %>

      </div>
    <% end %>
      <div class="center">
        <a href=/trips/new>Make a new trip &#8594;</a>
      </div>
  </div>
</div>
