<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="trip-details">
      <h1><%= @trip.title %></h1>
      <p> <%= @trip.start_date.strftime("%b %d, %Y") %> to <%= @trip.end_date.strftime("%b %d, %Y") %> 
      <%= link_to '[Edit trip]', edit_trip_path(@trip) %> </p>
      <h5 class="caption"><%= @trip.about %></h5>
    </div>

    <%= link_to 'List', trip_path(view: "list") %> | <%= link_to 'Map', trip_path(view: "map") %>

    <%= render @partial %>
    
    <div class="center">
      <%= link_to "\u2190 Back", trips_path %> | <%= link_to "Add post \u2192", new_multi_post_path(@trip.id) %>
    </div>
  </div>
</div>
