<p id="notice"><%= notice %></p>

<p>
  <% @posts_of_trip.to_a %>
  <% @num_days %>

  <% if !@posts_of_trip.empty? %>
    <% @i = 0 %>
    <% @posts_of_trip.each do |p| %>
      <% @i += 1 %>
      <strong>Day <%= @i %></strong>
      <%= p.title %>
    <% end %>

  <% end %>

</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
