<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="trip-details">
      <h1><%= @trip.title %></h1>
      <p> <%= @trip.start_date.strftime("%b %d, %Y") %> to <%= @trip.end_date.strftime("%b %d, %Y") %> 
      <%= link_to '[Edit trip]', edit_trip_path(@trip) %> </p>
      <h5 class="caption"><%= @trip.about %></h5>
    </div>
    <div class="days-container">
      <% @a_post_a_day.each_with_index do |post, index| %>
        <div class="trip-container">
          <%= image_tag post.image_url(:day) if post.image? and post.image.day.file.exists? %>
          <h3><%= link_to "Day " + "#{index + 1}", day_posts_path({:date => post.date, :trip_id => post.trip_id}), :class => "trip-title" %></h3>
          <h5 class="time"><%= post.date.strftime("%b %d, %Y")%></h5>
        </div>
      <% end %>
    </div>
    <div class="center">
      <%= link_to "\u2190 Back", trips_path %> | <%= link_to "Add post \u2192", new_post_path(@trip.id) %>
    </div>
  </div>
</div>
