<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4">
    <div class="trip-details">
      <h1><%= @trip.title %></h1>
      <p class="time"> <%= @trip.start_date.strftime("%b %d, %Y") %> - <%= @trip.end_date.strftime("%b %d, %Y") %> </p>

      <%= link_to edit_trip_path(@trip), class: "icon-link icon-edit" do %>
        <i class="icon glyphicon glyphicon-pencil" aria-hidden="true"></i>
      <% end %>

      <%= link_to @trip, method: :delete, data: { confirm: 'Delete this trip?' }, class: "icon-link icon-edit" do %>
        <i class="icon-trash glyphicon glyphicon-trash" aria-hidden="true"></i>
      <% end %>
      <h5 class="caption"><%= @trip.about %></h5>
    </div>

    <%= link_to 'List', trip_path(view: "list") %> | <%= link_to 'Map', trip_path(view: "map") %> |
    Sort By: 
    <%= link_to 'Morning', trip_path(view: "morning")  %> | 
    <%= link_to 'Afternoon', trip_path(view: "afternoon") %> |
    <%= link_to 'Evening', trip_path(view: "evening") %> 

    <%= render @partial %>
    
    <div class="center">
      <%= link_to "\u2190 Back", trips_path %> | <%= link_to "Add post \u2192", new_post_path(@trip.id) %>
    </div>
  </div>
</div>
