<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <div class="card-box">
    <h1 class="center-heading">Sign In</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :username %><br>
          <%= f.text_field :username, autofocus: true, :class => "form-control" , :placeholder => "Username"   %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "********"  %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Sign in", :class => "btn my-btn" %>
        </div>
      <% end %>

      <div class="center">
        <a href="/users/sign_up">I don't have an account &#8594;</a>
      </div>
    </div>
  </div>
</div>
