<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4">
    <div class="posts">
      <% if !@posts_of_day.empty? %>
        <div class="trip-details">
          <h2><%= @posts_of_day.first.trip.title %> - <%= @posts_of_day.first.date.strftime("%b %d, %Y") %></h2>              
        </div>
        <% @posts_of_day.each do |p| %>
          <div class="post-container">
            <h3 class="post-title"><%= p.title %></h3>
            <div class="post-details row">
              <div class="col-xs-10">
                <%= @posts_of_day.first.date.strftime("%b %d, %Y") %>
                <%= p.time.strftime("%I:%M%p") if p.time != '' %>
                <%= '| ' + p.location if p.location != '' %>
              </div>
              <div class="col-xs-2">
                <div class="post-icons">
                  <%= link_to edit_post_path(p) do %> 
                    <i class="glyphicon glyphicon-pencil edit" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to p, method: :delete, data: { confirm: 'Are you sure you?' } do %>
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <%= image_tag p.image_url(:post) if p.image? and p.image.post.file.exists? %>
            <div class="row post-info">
              <div class="col-xs-10">
                <h5 class="caption"><%= p.caption %></h5>
              </div>
              <div class="col-xs-2">
                <div class="like-count">
                  <%= p.like_count %> likes
                  <div class = "like-icon">
                    <%= link_to like_post_path(p.id), :method => :post do %>
                      <i class="glyphicon glyphicon-heart heart" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <hr class="hr-one">
            <div class="comment-container">
              <h3 style="margin-bottom: 10px">Comments</h3>
              <div id="comments">
                <%= render :partial => p.comments %>
              </div>
              <%= form_for [p, Comment.new] do |f| %>
                <%= f.text_area :body, :class => "form-control" , :placeholder => "Leave a comment" %>
                <%= f.submit "Submit", :class => "btn my-btn"  %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="center">
        <%= link_to "\u2190 Back", trip_path(params[:trip_id])%>
      </div>
    </div>
  </div>
</div>
