<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <div class="post-container">
      <div class="trip-details">
        <h2><%= @posts_of_day.first.trip.title %> - <%= @posts_of_day.first.date.strftime("%b %d, %Y") %></h2>              
      </div>
      <% if !@posts_of_day.empty? %>
        <% @posts_of_day.each do |p| %>
          <div class="post-box">
            <h3><%= p.title %></h3>
            <div class="post-details">
              <%= p.time.strftime("%I:%M%p") if p.time != '' %>
              <%= ', ' + p.location if p.location != '' %>
              <%= link_to '[Edit]', edit_post_path(p) %> 
            </div>

            <hr class="hr-one">
            <%= image_tag p.image_url(:post) if p.image.post.file.exists? %>
            <h5><%= p.caption %></h5>

            <hr class="hr-one">
            <div class="like-count">
              <%= p.like_count %> likes
              <%= link_to '[Like]', like_post_path(p.id), :method => :post%>

              <%# modify this to be able to click on particular post %>
              <%#= link_to(p.title, day_posts_path({:date => p.date, :trip_id => p.trip_id})) %>
            </div>
            <div class="comment-container">
              <% p.comments.each do |comment|%>
                <div>
                  <div class="user-anon">
                    <%= 'anonymous ' if comment != nil %>
                  </div>
                  <%= comment if comment != nil %>
                </div>
              <% end %>
              <%= form_tag('/api/posts/'+p.id.to_s+'/add_comment', method: 'post') do %>
                <textarea name="comment" autocomplete="off" class="form-control areatext" placeholder="I love this picture"></textarea><br>
                <%= submit_tag("Submit", :class => "btn my-btn") %>
              <%end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="center">
        <%= link_to "\u2190 Back", trip_path(params[:trip_id])%>
      </div>
    </div>
  </div>
</div>
