<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= image_tag @post.image_url.to_s %>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.time %>
</p>

<p>
  <strong>Like count:</strong>
  <%= @post.like_count %>
</p>
<p>
  <strong>Comments:</strong>
  <%@post.comments.each do |comment|%>
      <p> <%= comment %> </p>
  <%end%>
  
  <p>
      <%= form_tag('/api/posts/'+@post.id.to_s+'/add_comment', method: 'post') do %>
          <%= text_area_tag(:comment, 'Add Comment') %><br>
          <%= submit_tag("Add Comment") %>
      <%end %>
  </p>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
